[Unit]
Description=Gunicorn daemon for dz_backend
After=network.target

[Service]
# Пользователь, под которым будет работать Gunicorn
User=www-data
Group=www-data

# Путь к корню Django проекта (где лежит manage.py)
WorkingDirectory=/var/www/dz_backend

# Запуск Gunicorn с 3 воркерами, привязка к локальному порту 8000
ExecStart=/usr/bin/gunicorn \
          --access-logfile - \
          --error-logfile - \
          --workers 3 \
          --bind 127.0.0.1:8000 \
          dz_backend.wsgi:application

# Перезапускать при падении
Restart=always

[Install]
WantedBy=multi-user.target
