# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/**/*
!media/

# Статика (если собирается через collectstatic)
/static/

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Виртуальное окружение
venv/
.venv/
env/
*.env
.env/
.env.local
.env.development
.env.production

# macOS
.DS_Store

# Миграции
#**/migrations/*.py
#!**/migrations/__init__.py


# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/